@page "/products/delete/{id:int}"
@inject ApplicationDbContext Context
@inject NavigationManager Navigation
@rendermode InteractiveServer
@attribute [Authorize]

@if (product is null)
{
    <p class="text-center">Categoria não encontrada</p>
    <a href="/categories" class="btn btn-secondary mb-1" role="button">Voltar</a>
}
else
{
    <h3>Excluir a Categoria</h3>
    <EditForm Model="@product" FormName="DeleteProduct" OnValidSubmit="SubmitAsync">
        <div class="mb-3">
            <label class="form-label">Nome do Produto</label>
            <InputText @bind-Value="product.Title" class="form-control" readonly />
        </div>
        <button type="submit" class="btn btn-danger mb-1">Excluir</button>
        <a href="/products" class="btn btn-success mb-1" role="button">Cancelar</a>
    </EditForm>
}
@code {
    [Parameter]
    public int Id { get; set; }

    public product? product { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        product = await Context.Categories.AsNoTracking().FirstOrDefaultAsync(c => c.Id == Id);
    }

    public async Task SubmitAsync()
    {
        Context.Categories.Remove(product);
        await Context.SaveChangesAsync();
        Navigation.NavigateTo("products");
    }
}
