@page "/categories/{id:int}"
@inject ApplicationDbContext Context
@rendermode InteractiveServer
@attribute [Authorize]

@if (Category is null)
{
    <p class="text-center">Categoria não encontrada</p>
    <a href="/categories" class="btn btn-secondary mb-1" role="button">Voltar</a>
}
else
{
    <h3>Informações</h3>
    <EditForm Model="@Category" FormName="DetailCategory">
        <div class="mb-3">
            <label class="form-label">Nome da Categoria</label>
            <InputText @bind-Value="Category.Title" class="form-control" readonly/>
        </div>
        <a href="/categories" class="btn btn-secondary mb-1" role="button">Voltar</a>
    </EditForm>
}
@code {
    [Parameter]
    public int Id { get; set; }

    public Category? Category { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Category = await Context.Categories.AsNoTracking().FirstOrDefaultAsync(c => c.Id == Id);
    }

}
